<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UAP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF117C5B1CB33C2F0020B156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF117C6F1CB33C2F0020B156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF117C7A1CB33C2F0020B156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
